@font-face {
    font-family: Vazir;
    src: url('./Regular/Vazir.ttf');
    src: url('./Regular/Vazir.eot?#iefix') format('embedded-opentype'),
         url('./Regular/Vazir.woff2') format('woff2'),
         url('./Regular/Vazir.woff') format('woff'),
         url('./Regular/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./Bold/Vazir-Bold.ttf');
    src: url('./Bold/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('./Bold/Vazir-Bold.woff2') format('woff2'),
         url('./Bold/Vazir-Bold.woff') format('woff'),
         url('./Bold/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./Black/Vazir-Black.ttf');
    src: url('./Black/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('./Black/Vazir-Black.woff2') format('woff2'),
         url('./Black/Vazir-Black.woff') format('woff'),
         url('./Black/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./Medium/Vazir-Medium.ttf');
    src: url('./Medium/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./Medium/Vazir-Medium.woff2') format('woff2'),
         url('./Medium/Vazir-Medium.woff') format('woff'),
         url('./Medium/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./Light/Vazir-Light.ttf');
    src: url('./Light/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('./Light/Vazir-Light.woff2') format('woff2'),
         url('./Light/Vazir-Light.woff') format('woff'),
         url('./Light/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./Thin/Vazir-Thin.ttf');
    src: url('./Thin/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('./Thin/Vazir-Thin.woff2') format('woff2'),
         url('./Thin/Vazir-Thin.woff') format('woff'),
         url('./Thin/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}