.scrollContainer {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrollText {
    white-space: nowrap;
    text-overflow: ellipsis;
    /* animation properties */
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);

    /* animation: scrollin 15s linear infinite; */
}

@keyframes scrollin {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    /* 33% {

    }

    66% {

    } */


    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}