@import url("./fonts/vazir/font-face.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazir, sans-serif !important;
}

.font-vazir {
  font-family: Vazir, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
